{% extends "base.html" %}

{% block title %} Другие функции | HELPERS {% endblock %}

{% block content %}

<h1 class="title">
  Другие функции сообщества HELPERS
</h1>
<div style="text-alignment: center;">
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/me">
                <button class="button " style="width: 100%; font-size: 19px;">
                    Мой профиль
                </button>
            </a>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/top">
                <button class="button " style="width: 100%; font-size: 19px;">
                    Топ исполнителей
                </button>
            </a>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/ios">
                <button class="button " style="width: 100%; font-size: 19px;">
                    iOS Приложение
                </button>
            </a>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/android">
                <button class="button " style="width: 100%; font-size: 19px;">
                    Android Приложение
                </button>
            </a>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/huawei">
                <button class="button " style="width: 100%; font-size: 19px;">
                    Huawei приложение
                </button>
            </a>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/bot">
                <button class="button " style="width: 100%; font-size: 19px;">
                    Telegram бот
                </button>
            </a>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="https://developer.hlprs.xyz/ru.html">
                <button class="button " style="width: 100%; font-size: 19px;">
                    Для разработчиков
                </button>
            </a>
        </div>
    </div>
</div>

<footer style="text-align: center; bottom: 0; left: 0; width: 100%; position: fixed">
    Made with &#128151 by HELPERS
</footer>

{% endblock %}
