{% extends "base.html" %}

{% block title %} Доступные теги | HELPERS {% endblock %}

{% block content %}

<h1 class="title">
  Все доступные теги
</h1>
<div style="text-alignment: center;">
    {% for tag in tags %}
    <div class="field">
        <div class="control" style="margin-left: 35%; margin-right: 35%;">
            <a href="/tasks?tags={{tag}}">
                <button class="button " style="width: 100%; font-size: 19px;">
                    {{ tag }}
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
