{% extends "base.html" %}

{% block title %} Доступные задания | HELPERS {% endblock %}

{% block content %}

<h1 class="title">Все задания</h1>

<br>

<script src="/static/scripts/jquery.js"></script>
<script src="/static/scripts/popup1.js"></script>
<script src="/static/scripts/popup2.js"></script>
<script>
    $('.dropdown').on('shown.bs.dropdown', function(e) {
        $('.dropdown-menu input').focus();
    })
</script>
<div class="control has-icons-left">
    <form action="/tasks" method="get" onsubmit="formSubmitted()">
        <div class="search">
            <input class="input is-large" style="align-left: 10%; align-right: 10%" placeholder="Поиск по заданиям..." name="query" value="{{query}}" list="tags" id="search">
            <span style="position: absolute; right: 1%; top: 30%; color: black; font-size: 19px;">
                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">info</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a><strong>from:fund1,fund2</strong> - поиск по фондам</a>
                    <br>
                    <a><strong>tags:tag1,tag2</strong> - поиск по тегам</a>
                    <br>
                    <a><strong>from:fund1,fund2&tags:tag1,tag2</strong> - поиск по фондам и тегам</a>
                    <br>
                    <a><strong>text</strong> - поиск по заданиям</a>
                </div>
            </span>
            <span style="position: absolute; left: 1%;top: 17%;">
                <span class="material-icons" style="color: grey; font-size: 37px;">
                search
                </span>
            </span>
        </div>
        <input type="hidden" name="sort_by" id="sortInput">
        <input type="hidden" name="from" id="fromInput">
        <input type="hidden" name="tags" id="tagsInput">
    </form>
</div>

<div class="control">
    <div class="select is-medium">
        <form action="/tasks" method="get" id="sort" onsubmit="sortSubmitted()">
            <select required onchange="document.getElementById('sort').submit()" name="sort_by">
                <option disabled selected>Сортировать по: {{ option }}</option>
                <option value="1">Новизне</option>
                <option value="2">Популярности</option>
            </select>
            <input type="hidden" name="from" id="sort_fromInput">
            <input type="hidden" name="tags" id="sort_tagsInput">
        </form>
    </div>
</div>

<datalist id="tags">
    {% for t in tags %}
        <option value="tags:{{t}}">
    {% endfor %}
</datalist>

<script>
    function formSubmitted() {
        var query = document.getElementById('search').value
        let url = window.location.href
        var deleteTags = 0
        var deleteFrom = 0

        if (query.startsWith('tags:') && !query.includes('from:')) {
            document.getElementById('search').value = query.slice(5)
            document.getElementById('search').setAttribute('name', 'tags')
            deleteTags = 1
        } else if (query.startsWith('from:') && !query.includes('tags:')) {
            document.getElementById('search').value = query.slice(5)
            document.getElementById('search').setAttribute('name', 'from')
            deleteFrom = 1
        } else if (query.startsWith('from:') && query.includes('&tags:')) {
            document.getElementById('search').value = ''
            document.getElementById('fromInput').value = decodeURI(query.slice(query.indexOf('from:') + 5, query.indexOf('&')))
            document.getElementById('tagsInput').value = decodeURI(query.slice(query.indexOf('&tags:') + 6))
            deleteTags = 1
            deleteFrom = 1
        }

        if (url.includes('?sort_by=1') || url.includes('&sort_by=1')) {
            document.getElementById('sortInput').value = '1'
        } else if (url.includes('?sort_by=2') || url.includes('&sort_by=2')) {
            document.getElementById('sortInput').value = '2'
        }

        if (!deleteFrom) {
            if (url.includes('?from=')) {
                let andIndex = url.indexOf('&')
                if (andIndex === -1) {
                    document.getElementById('fromInput').value = decodeURI(url.slice(url.indexOf('?from=') + 6))
                } else {
                    document.getElementById('fromInput').value = decodeURI(url.slice(url.indexOf('?from=') + 6, andIndex))
                }
            } else if (url.includes('&from=')) {

                let thisAnd = url.indexOf('&from=')
                var nextAnd = url.indexOf('&')

                while (nextAnd <= thisAnd && nextAnd !== -1) {
                    nextAnd = url.indexOf('&', nextAnd + 1)
                }

                var x = url.length
                var andIndex = url.indexOf('&')
                if (nextAnd === -1) {
                    document.getElementById('fromInput').value = decodeURI(url.slice(url.indexOf('&from=') + 6))
                } else {
                    document.getElementById('fromInput').value = decodeURI(url.slice(url.indexOf('&from=') + 6, nextAnd))
                }
            }
        }

        if (!deleteTags) {
            if (url.includes('?tags=')) {
                let andIndex = url.indexOf('&')
                if (andIndex === -1) {
                    document.getElementById('tagsInput').value = decodeURI(url.slice(url.indexOf('?tags=') + 6))
                } else {
                    document.getElementById('tagsInput').value = decodeURI(url.slice(url.indexOf('?tags=') + 6, andIndex))
                }
            } else if (url.includes('&tags=')) {

                let thisAnd = url.indexOf('&tags=')
                var nextAnd = url.indexOf('&')

                while (nextAnd <= thisAnd && nextAnd !== -1) {
                  nextAnd = url.indexOf('&', nextAnd + 1)
                }

                var x = url.length
                var andIndex = url.indexOf('&')
                if (nextAnd === -1) {
                    document.getElementById('tagsInput').value = decodeURI(url.slice(url.indexOf('&tags=') + 6))
                } else {
                    document.getElementById('tagsInput').value = decodeURI(url.slice(url.indexOf('&tags=') + 6, nextAnd))
                }
            }
        }
    }
    function sortSubmitted() {
        if (url.includes('?from=')) {
            let andIndex = url.indexOf('&')
            if (andIndex === -1) {
                document.getElementById('sort_fromInput').value = url.slice(url.indexOf('?from=') + 6)
            } else {
                document.getElementById('sort_fromInput').value = url.slice(url.indexOf('?from=') + 6, andIndex)
            }
        } else if (url.includes('&from=')) {

            let thisAnd = url.indexOf('&from=')
            var nextAnd = url.indexOf('&')

            while (nextAnd <= thisAnd && nextAnd !== -1) {
              nextAnd = url.indexOf('&', nextAnd + 1)
            }

            var x = url.length
            var andIndex = url.indexOf('&')
            if (nextAnd === -1) {
                document.getElementById('sort_fromInput').value = url.slice(url.indexOf('&from=') + 6)
            } else {
                document.getElementById('sort_fromInput').value = url.slice(url.indexOf('&from=') + 6, nextAnd)
            }
        }

        if (url.includes('?tags=')) {
            let andIndex = url.indexOf('&')
            if (andIndex === -1) {
                document.getElementById('sort_tagsInput').value = url.slice(url.indexOf('?tags=') + 6)
            } else {
                document.getElementById('sort_tagsInput').value = url.slice(url.indexOf('?tags=') + 6, andIndex)
            }
        } else if (url.includes('&tags=')) {

            let thisAnd = url.indexOf('&tags=')
            var nextAnd = url.indexOf('&')

            while (nextAnd <= thisAnd && nextAnd !== -1) {
              nextAnd = url.indexOf('&', nextAnd + 1)
            }

            var x = url.length
            var andIndex = url.indexOf('&')
            if (nextAnd === -1) {
                document.getElementById('sort_tagsInput').value = url.slice(url.indexOf('&tags=') + 6)
            } else {
                document.getElementById('sort_tagsInput').value = url.slice(url.indexOf('&tags=') + 6, nextAnd)
            }
        }
    }
</script>


{% if reset %}
<a href="/tasks">
    <button class="button">Сбросить фильтры</button>
</a>
{% endif %}

<br><br>

<div style="text-align: center; margin-left: 10%; margin-right: 10%">
    <table class="table is-striped" style="width: 100%">
      <thead>
        <tr>
            <th>№</th>
            <th>Задание</th>
            <th>От</th>
            <th>Выложено</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tasks %}
            <tr>
                <th>{{ t[0] }}</th>
                <td><a href="{{ t[1][-1] }}" style="text-decoration: underline;">{{ t[1][0] }}</a></td>
                <td><a href="/fund/{{t[2]}}" style="text-decoration: underline;">{{ t[2] }}</a></td>
                <td>{{ t[3] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
